@import 'tailwindcss';

@theme {
  --color-light-beige: #F2D6A2;
  --color-medium-orange: #F29E6D;
  --color-amber-orange: #D98032;
  --color-crimson-red: #BF3124;
  --color-olive: #8C713E;
  --color-deep-olive: #6F542B;
  --color-deep-red: #590202;
  --color-deep-brown: #261514;
  --color-soft-gray: #F2F2F2;
}

.main-container {
  width: 100%;
  max-width: 100vw;
  margin: auto;
  padding: 96px 120px 96px 120px;

  @media (max-width: 1280px) {
    padding: 0 32px;
  }
}